@media (min-device-width: 480px) {
	#navbar {
		width: 80%;
	}

	#searchContainer {
		padding: 40px 20px;
	}

}

.strong {
    font-weight: bold;
}

.invalid-tag {
    border: 2px solid #F37373;
    background-color: #F3E7E7;
}

.valid-tag {
    background-color: #DDF3DD;
    border: 2px solid #67D618;
}

.title.tag, .title.guild {
	text-align: center;
}

.title.guild {
    color: #69B160;
}

.heroes {
	/* Center the heroes */
	text-align: center;
}

.hero {
    width: 47%;
    display: inline-block;
    padding: 1em;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 225px;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(60%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .4s ease;  /* Transition for Webkit browsers */
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.hero tr.row td {
    padding: 0.5em;
}

.hero:hover {
    background-position: center 25%;
    background-size: auto 300px;
    border-radius: 18px;
    filter: grayscale(10%);
    -webkit-filter: grayscale(10%);
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

@media (max-width: 530px) {
    .hero {
        width: 90% !important;
    }

}

.heroes {
    text-shadow: 1px 1px #000000;
}

.player.container {
    background-image: url('http://images2.alphacoders.com/249/249110.jpg');
    background-size: contain;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}