<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }}</title>
	<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- STATIC::START -->
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<!-- STATIC::END -->
</head>
<body>
<header id="header">
	<!-- HEADER::START -->
	{% include 'header.html' %} 
	<!-- HEADER::END -->
</header>	
<main>
	<!-- CONTENT::START -->
		<div class="player container container-fluid jumbotron">
			{{ hero_data }}
		</div>
	<!-- CONTENT::END -->
</main>
<footer>
	<!-- FOOTER:START -->
	{% include 'footer.html' %} 
	<!-- FOOTER:END -->
</footer>
</body>
</html>